.feature-grid {
  @include pie-clearfix;
  clear: both;
  padding-top: 1.5em;

  .feature-divider {
      
    .feature-item {
      text-align: center;
      .icon {
        margin-bottom: 1em;
      }
      .information {
        p {
          text-align: left;
        }
      }

      @include breakpoint($breakpoint-nav) {
        .icon {
          margin-top: 3.5em;
          @include column(2);
          @include prepend(2);
        }
        .information {
          @include column(8);
          @include last;
        }
      }
    }

    .icon {
      height: 6em;
      width: 6em;
    }
  }
}