.feature-grid {
  @include pie-clearfix;
  clear: both;
  text-align: center;
  padding: 1em 14% 0 14%;

  .feature-divider {

    @include breakpoint($breakpoint-s) {
      @include column(4);
    }

    &.last {
      @include last;
    }

    .feature-item {
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
      color: #128080;

      .icon {
        margin: 0.5em;
        height: 6em;
        width: 6em;
      }
    }
  }
}