.mobile-navigation {
  @include pie-clearfix;
  clear: both;

  @include breakpoint(302px) {
    clear: none;
    float: right;
  }

  @include breakpoint(772px) {
    display: none;
  }
}

.menu-trigger, .utility-trigger {
  font-family: 'Roboto Slab', sans-serif;
  background-color: transparent;
  color: $nav-color;
  display: block;
  border: none;
  font-size: 1.25em;
  padding: 0.25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  &:hover, &:focus {
    cursor: pointer;
  }

  .iconmenu-button {
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }

  .trigger-text {
    vertical-align: middle;
    display:inline-block;
  }
}

.utility-trigger {
  margin-right: 2%;
}

.menu-trigger {

}

$iconDuration: 0.9s;
$iconEasing: cubic-bezier(.25,1.7,.35,.8);

.iconmenu-button {
  display:inline-block;
  position:relative;
  padding: 0px 5px 10px 10px;
  transition: $iconDuration/2;
  cursor:pointer;
  opacity: 1;

  .iconmenu:before, .iconmenu:after {
    transition: $iconDuration/2;
  }


  .iconmenu {
    position: relative;
    display:inline-block;
    float: left;
    margin-top: 0.5em;
    width: 20px;
    height: 3px;
    background: $nav-color;
    transition: all $iconDuration $iconEasing;
    border-radius: 10px;
    z-index:1;

    &:before, &:after {
      display: block;
      content: "";
      height: 3px;
      width: 20px;
      background: $nav-color;
      position: absolute;
      z-index: -1;
      transition: all $iconDuration $iconEasing;
      border-radius: 16px;
    }

    &:before {
      top: 5px;
    }
    &:after {
      top: -5px;
    }
  }
}

.open:not(.steps) .iconmenu:before,
.open:not(.steps) .iconmenu:after {
  top: 0 !important;
}

.open .iconmenu:before,
.open .iconmenu:after {
  transition: $iconDuration $iconEasing;
}
.open {
  .iconmenu {
    background: transparent;

    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

.site-header .container {
  position: relative;
}

.primary-navigation, .utility-navigation {
  display: none;
  clear: both;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  padding-top: 2.6em;
  padding-bottom: 0.5em;

  @include breakpoint(772px) {
    @include pie-clearfix;
    display: inline-block;
    float: right;
    clear: none;
  }

  ul {
    background-color: transparent;
    padding: 1em 0;
    margin-top: -3em;

    @include breakpoint(772px) {
      background-color: inherit;
      padding: 0;
      margin-top: auto;
    }
  }

  li {
    text-align: center;
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid darken($banner-heading-color, 5%);

    @include breakpoint(772px) {
      display: inline-block;
      @include divider-none;
      text-align: left;
    }

    &:first-of-type {
      padding-top: 0;
      margin-top: 0;
      border-top: 0 none;
    }
  }
}

.primary-navigation {
  a {
    color: $nav-color;
    text-decoration: none;
  }

  @include breakpoint(772px) {
    ul {
      li {
        color: white !important;
        margin-right: 1em;
        padding-bottom: 0.5em;

        &.last {
          margin-right: 0;
        }

        a {
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// use for things like user login/logout, other top-level, but lesser important links in header.
.utility-navigation {
  @include breakpoint(772px) {
    padding-top: 0;
    position: absolute;
    top: 2em;
    right: 0;
    font-size: 0.8em;
  }

  li {
    @include breakpoint(772px) {
      margin-left: 0.75em;
    }
  }
}

///// Secondary Navigation on internal pages

.secondary-navigation {
  @include title-face;
  border: 1px solid $border-color;
  padding: 1em 0.5em 0.5em 0.5em;
  margin-bottom: 1.5em;

  ul {
    margin: 0;

    li {
      @include divider-top;
      list-style-type: none;
    }

    ul li {
      padding-left: 1em;
    }
  }
}
