.tabs {
  @include pie-clearfix;
}

.tabs a {
  text-decoration: none;
  background-color: lighten($button-regular, 39%);
  padding: 0.75em 0.75em 0.75em 0.75em;
  color: $background-color;
  font-size: 1.1em;
  margin-right: -2px;
  margin-left: -2px;
  transition: background-color ease-in-out 0.6s;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid $background-color;
  border-bottom: 1px solid $text-color;
  width:50%;
  display: inline-block;
  text-align: center;

  &:hover, &:focus {
    background-color: $button-regular;
  }
}

.tabs a.active {
  background-color: $background-color;
  color: darken($text-color, 5%);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  border-top: 1px solid $text-color;
  border-left: 1px solid $text-color;
  border-right: 1px solid $text-color;
}

@for $i from 1 through 2 {
  .tab-content {
    .tab-#{$i} {
      display: none;
    }
  }
}

@for $i from 1 through 2 {
  .tab-content {
    .tab-#{$i}.active {
      display: block;
    }
  }
}

.tab-content {
  margin-top: 2.75em;
  
  .staff-profile {
    margin-top: 2em;
    margin-bottom: 1.2em;
    @include pie-clearfix;
    padding-bottom: 2em;
    border-bottom: 2px solid lighten($text-color-subtle, 5%);
    
    &:first-of-type {
      margin-top: 2em;
    }

    &:last-of-type {
      border-bottom: none;
    }

    figure{
      text-align: center;
      
      figcaption {
        margin-top: 0.5em;
      }

      img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 200px;
      }
    }

    @include breakpoint($breakpoint-nav) {
      figure {
        @include column(4);
      }

      img {
        display: static;
      }

      p {
        margin-top: 1em;
        @include column(8);
        @include last;
      }
    }
  }

  .services-list {
      .services-accordion {
        position: relative;
        border: 1px solid $text-color-subtle;
        padding: 1.5em;
        margin-bottom: 1.5em;
        &:first-of-type {
          margin-top: 2em;
        }

        .accordion-text {
          display:none;

          &.is-showing {
            display: inline-block;
          }

          p {
            margin: 0.5em;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
        
        .accordion {
          h4 {
            margin-left: 0.45em;
            color: lighten($banner-heading-color, 10%);
            font-size: 1em;
            display: inline-block;

            @include breakpoint($breakpoint-xs) {
              font-size: 1.2em;
            }

            @include breakpoint($breakpoint-nav) {
              font-size: 1.5em;
            }
          }

          .icon {
            position: absolute;
            top: 1.5em;
            right: 1em;

            &:hover, &:focus {
              cursor: pointer;
            }
          }
        }
    }
  }
}