.appt-form {
  
  .page-title {
    margin-bottom: 0.75em;
  }

  textarea {
    min-height: 8em;
  }

  .label-text {
    font-family: 'Ubuntu';
    font-weight: 500;
  }

  .hidden {
    display: none;
  }
  
  .contact-you-group {
    @include breakpoint($breakpoint-m) {
      @include clearfix;

      > .input {
        @include column(6);
        margin-right: 0;
        margin-left: $gutter-width;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .submit {
    text-align: center;

    .submit-button {
      width: 100%;

      @include breakpoint($breakpoint-m) {
        width: 50%
      }
    }
  }
}