.contact-info {
  overflow: auto;
  margin-bottom: 1.6em;

  .contact-info-section {
    width: 100%;
    margin-bottom: 1.5em;
    .contact-wrapper {
      margin-right: auto;
      margin-left: auto;
    }
  }


  .social {
    .page-title {
      margin-bottom: 0.75em;
    }

    @include breakpoint($breakpoint-xs) {
      font-size: 1.4em;
      margin-left: 1em; 
    }

    @include breakpoint ($breakpoint-nav) {
      @include column(7.5);
    }
  }

  .address {
    .page-title {
      margin-bottom: 0.65em;
    }

    @include breakpoint($breakpoint-xs) {
      font-size: 1.4em;
      margin-left: 1em;
    }

    @include breakpoint ($breakpoint-nav) {
      @include column(4.5);
      @include last;
    }
    
  }

  .social-element {
    margin-bottom: 0.25em;
  }
  
  .text {
    display: inline;
  }

  .address-element {
    margin-bottom: 0.35em;
  }
}