.secondary-header {
  background-color: #87C2C3;
  padding: 4em;
  margin-bottom: 1.5em;
  text-align: center;

  .secondary-title-large {
    color: #303F67;
    font-family: 'Lato';
    font-weight: 900;
  }

  .secondary-title-small {
    display: inline-block;
  }

  .schedule-action {
    @include button;
    display: inline-block;
    margin-left: 1em;
  }
}