.site-header {
  @include pie-clearfix;
  margin-top: 0.5em;
  margin-bottom: 3em;

  .site-name {
    @include heading-4;
    color: #B7BFD4;
    padding-top: 1em;
    display: inline-block;
    float: left;

    @include breakpoint($breakpoint-xxl) {
      @include heading-2;
      color: #B7BFD4;
      padding-top: 0.5em;
    }
  }

  .mobile-navigation {
    text-align: center;
  }
}
