.site-footer {
  @include pie-clearfix;
  background-color: $footer-color;
  padding-top: 2em;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;

  .contact-group {
    @include pie-clearfix;

    .contact-item {
      padding-bottom: 1em;

      @include breakpoint($breakpoint-l) {
        @include column(4);
        line-height: 2em;
        padding-bottom: 0;
      }

      &:last-of-type {
        @include breakpoint($breakpoint-l) {
          @include last;
        }
      }
    }
  }

  .copyright {
    margin-top: 2em;
    text-align: center;
    display: block;
  }
}