.site-footer {
  @include pie-clearfix;
  background-color: $footer-color;
  padding-top: 2em;
  margin: 0;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  li, p {
    color: $text-color;
  }

  a {
    color: $text-color;
    transition: color 0.7s ease;
    &:hover, &:focus {
      color: darken($text-color, 15%);
    }
  }

  .contact-group {
    @include pie-clearfix;
    
    .contact-item {
      margin-bottom: 1.5em;

    @include breakpoint($breakpoint-xxs) {
      &.site-map {
        @include column(6);
      }

      &.address { 
        @include column(6);
        @include last;
      }
    }

      @include breakpoint($breakpoint-l) {
        &.site-map, &.address, &.map {
          @include column(4);
          line-height: 2em;
          padding-bottom: 0;
        }
      }

      &:last-of-type {
        @include breakpoint($breakpoint-l) {
          @include last;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    display: block;
  }
}