.thanks-container {
  @include pie-clearfix;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5em;

  .thanks-icon {
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
    width: 100%;

    .icon-check-green {
      width: 14em;
      height: 14em;
    }
  }

  .thanks-item {
    text-align: center;
    width: 100%;

    h2 {
      margin: 0.75em;
    }
    
    p {
      font-size: 1.2em;
    }

    button {
      @include button-highlight;
      padding: 1em;
      font-size: 1.1em;
    }

  }
}