%nav.primary-navigation{role: "navigation"}
  %ul.navigation-item-group
    %li.nav-item= link_to 'About', '#'
    %li.nav-item= link_to 'New Patients', '#'
    %li.nav-item= link_to 'Appointments', '/appointment'
    %li.nav-item= link_to 'Contact', '/contact'