%nav.primary-navigation{role: "navigation"}
  %ul.navigation-item-group
    %li.nav-item= link_to 'About', '/about'
    %li.nav-item= link_to 'New Patients', '/new-patients'
    %li.nav-item= link_to 'Appointments', '/appointments'
    %li.nav-item= link_to 'Contact', '/contact'