%header.site-header{:role => "banner"} 
  .container
    %a{href: '/'}
      %span.icon-smart-logo
      %h4.screenreader-text Smart Dental MA Logo

    %section.mobile-navigation
      %button.menu-trigger
        .iconmenu-button.x
          %span.iconmenu
        %span.trigger-text Menu

    = partial 'partials/primary-navigation'
