%header.site-header
  .container
    %a{href: '#'}
      %span.icon-smart-tooth
    %h1.site-name
      Smart Dental

    %section.mobile-navigation
      %button.menu-trigger
        %span.icon-menu
        %span.trigger-text Menu

    = partial 'partials/primary-navigation'
