%header.site-header
  .container
    %a{href: '/'}
      %span.icon-smart-logo

    %section.mobile-navigation
      %button.menu-trigger
        .iconmenu-button.x
          %span.iconmenu
        %span.trigger-text Menu

    = partial 'partials/primary-navigation'
