.icon-smart-tooth { background-image: url('png/smart-tooth.png'); background-repeat: no-repeat; }

.icon-tooth-reverse { background-image: url('png/tooth-reverse.png'); background-repeat: no-repeat; }

.icon-tooth { background-image: url('png/tooth.png'); background-repeat: no-repeat; }

