.icon-bubble { background-image: url('png/bubble.png'); background-repeat: no-repeat; }

.icon-check-green { background-image: url('png/check-green.png'); background-repeat: no-repeat; }

.icon-check-teal { background-image: url('png/check-teal.png'); background-repeat: no-repeat; }

.icon-dentist-reverse { background-image: url('png/dentist-reverse.png'); background-repeat: no-repeat; }

.icon-dentist { background-image: url('png/dentist.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-minus { background-image: url('png/minus.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-smart-logo { background-image: url('png/smart-logo.png'); background-repeat: no-repeat; }

.icon-smart-tooth { background-image: url('png/smart-tooth.png'); background-repeat: no-repeat; }

.icon-tool-reverse { background-image: url('png/tool-reverse.png'); background-repeat: no-repeat; }

.icon-tool { background-image: url('png/tool.png'); background-repeat: no-repeat; }

.icon-tooth-reverse { background-image: url('png/tooth-reverse.png'); background-repeat: no-repeat; }

.icon-tooth { background-image: url('png/tooth.png'); background-repeat: no-repeat; }

.icon-toothbrush-reverse { background-image: url('png/toothbrush-reverse.png'); background-repeat: no-repeat; }

.icon-toothbrush { background-image: url('png/toothbrush.png'); background-repeat: no-repeat; }

