@mixin icon-base {
  background-size: contain;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: top;
  margin-right: 0.5em;
}

.icon-toothbrush-bullet,
.icon-tooth-bullet,
.icon-check-green,
.icon-check-teal,
.icon-plus,
.icon-minus,
.icon-mail,
.icon-phone,
.icon-linkedin,
.icon-bubble,
.icon-tooth, 
.icon-tooth-reverse, 
.icon-smart-logo, 
.icon-dentist,
.icon-dentist-reverse,
.icon-tool,
.icon-tool-reverse,
.icon-toothbrush,
.icon-toothbrush-reverse { //Created by Alex Podolsky from the Noun Project
  @include icon-base;
}

.icon-smart-tooth, .icon-smart-logo {
  float: left;
  margin-top: 0.5em;
  height: 10em;
  width: 10em;
}

.icon-mail,
.icon-phone,
.icon-linkedin,
.icon-bubble {
  width: 1.4em;
  height: 1.4em;
  vertical-align: text-bottom;
}

.icon-plus,
.icon-minus {
  height: 1.8em;
  width: 1.8em;
}