.icon-tooth, .icon-tooth-reverse, .icon-smart-tooth { //Created by Alex Podolsky from the Noun Project
  background-size: contain;
  height: 2em;
  width: 2em;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5em;
}

.icon-smart-tooth {
  float: left;
  margin-top: 0.5em;
}