---
title: About Smart Dental
---
.secondary-header
  %h1.secondary-title-large
    Staff & Services

.constrained
  .tabs
    %a{:href => "#", :class => 'tab-1 active'} &nbsp;Staff&nbsp;
    %a{:href => "#", :class => 'tab-2'} Services

  .tab-content
    .tab-1.active
      .staff-profile
        %figure
          %img{:src => "../assets/images/jeong-profile.jpg", :alt => "Jeong's Staff Profile"}/
          %figcaption 
            %h5 Jeong Lee, DMD, MMSc, PhD
        %p Dr. Lee is an accomplished dentist. Starting her dental education at Seoul National University, Dr. Lee has continued to refine her dental knowledge by obtaining a DMD at Tufts University, and a MMSc at Harvard University. Dr. Lee specializes in dental prosthetics, but will be happy to supervise any dental procedure you may need.  To learn more about Dr. Lee's qualifications, you can find a copy of her CV <a href="../assets/pdfs/jeong-cv.pdf" target="_blank"><u>here</u></a>.
        
      .staff-profile
        %figure
          %img{:src => "../assets/images/blank-profile.png", :alt => "#"}/
          %figcaption
            %h5 Nancy, Head Dental Assistant &amp; Patient Care Coordinator
        %p When you come to the office, Nancy will seat you and make sure you're comfortable. This also includes putting on your favorite music, so please let her know what your preference is! As a certified dental assistant, Nancy assists Dr. Lee with all procedures. After your appointment, Nancy will be available to answer any of your questions and go over oral hygiene instructions with you. She could not be happier to work for Dr. Lee now, and has to admit that she loves her job very much!


      .staff-profile
        %figure
          %img{:src => "../assets/images/blank-profile.png", :alt => "#"}/
          %figcaption
            %h5 Mary, Office Manager 
        %p In 1989, Mary was fortunate enough to be able to work for Dr. Dollard, the previous head dentist, and is happy to say she will be starting her 27th year in December at Smart Dental with Dr. Lee. As the office manager, Mary is not only responsible for coordinating all appointment scheduling, but also helps patients get the most benefits possible out of their dental insurance. She is always happy to answer any questions you might have concerning your office visit or insurance, and if she doesn't know the answer, she will do her best to get it for you.

      .staff-profile
        %figure
          %img{:src => "../assets/images/blank-profile.png", :alt => "#"}/
          %figcaption
            %h5 Victoria, X Position
        %p As the office manager, am I not only responsible for coordinating all appointment scheduling, but also help patients get the most benefits possible out of their dental insurance. I am always happy to answer any questions you might have concerning your office visit or insurance and if I don’t know the answer, I will try my best to get it for you. I hope you have a wonderful experience with us and Dr. Lee. 


    .tab-2
      .staff-profile
        %ul
          %li Cosmetic Dental
          %li Whitening
        %li Dentures