---
title: About Smart Dental
---
.secondary-header
  %h1.secondary-title-large
    Staff & Services

.constrained
  .tabs
    %a{:href => "#", :class => 'tab-1 active'} &nbsp;Staff&nbsp;
    %a{:href => "#", :class => 'tab-2'} Services

  .tab-content
    .tab-1.active
      %h3.page-title The staff at Smart Dental maintain the highest level of accreditation and pursue ongoing education to stay abreast of the latest trends in dentistry.
      .staff-profile
        %figure
          %img{:src => "../assets/images/jeong-profile.jpg", :alt => "Jeong's Staff Profile"}/
          %figcaption 
            %h5 Jeong Lee, DMD, MMSc, PhD
        %p Dr. Lee is an accomplished dentist. Starting her dental education at Seoul National University, Dr. Lee has continued to refine her dental knowledge by obtaining a DMD at Tufts University, and a MMSc at Harvard University. Dr. Lee specializes in dental prosthetics, but will be happy to supervise any dental procedure you may need.  To learn more about Dr. Lee's qualifications, you can find a copy of her CV <a href="../assets/pdfs/jeong-cv.pdf" target="_blank"><u>here</u></a>.
        
      .staff-profile
        %figure
          %img{:src => "../assets/images/blank-profile.png", :alt => "#"}/
          %figcaption
            %h5 Nancy, Head Dental Assistant &amp; Patient Care Coordinator
        %p When you come to the office, Nancy will seat you and make sure you're comfortable. This also includes putting on your favorite music, so please let her know what your preference is! As a certified dental assistant, Nancy assists Dr. Lee with all procedures. After your appointment, Nancy will be available to answer any of your questions and go over oral hygiene instructions with you. She could not be happier to work for Dr. Lee now, and has to admit that she loves her job very much!


      .staff-profile
        %figure
          %img{:src => "../assets/images/mary-profile.jpg", :alt => "Mary's Staff Profile"}/
          %figcaption
            %h5 Mary, Office Manager 
        %p In 1989, Mary was fortunate enough to be able to work for Dr. Dollard, the previous head dentist, and is happy to say she will be starting her 27th year in December at Smart Dental with Dr. Lee. As the office manager, Mary is not only responsible for coordinating all appointment scheduling, but also helps patients get the most benefits possible out of their dental insurance. She is always happy to answer any questions you might have concerning your office visit or insurance, and if she doesn't know the answer, she will do her best to get it for you.

      .staff-profile
        %figure
          %img{:src => "../assets/images/blank-profile.png", :alt => "#"}/
          %figcaption
            %h5 Victoria, X Position
        %p As the office manager, am I not only responsible for coordinating all appointment scheduling, but also help patients get the most benefits possible out of their dental insurance. I am always happy to answer any questions you might have concerning your office visit or insurance and if I don’t know the answer, I will try my best to get it for you. I hope you have a wonderful experience with us and Dr. Lee. 


    .tab-2
      %h3.page-title From routine cleanings and fillings to bruxism devices, Smart Dental is equipped to handle all your dental needs. To help you understand your options, simply click on the service name to reveal a description.
      %ul.services-list
        %li.services-accordion 
          .accordion
            %h4 Oral Examination 
            %span.icon-plus.icon
          .accordion-text
            %p Your initial comprehesive oral examination includes a visual examination, charting, periodontal probing, examination of mucogingival defect, diagnosis and treatment recommendations. We will also take x-rays, which includes the panoramic x-ray for proper diagnosis of the anterior (front) and posterior (back) teeth as well as the bite-wing x-ray series for proper diagnosis of proximal decay of posterior teeth. Dental CT can be taken to get 3-D information of bone and deep located  root, vessel and nerve.
        %li.services-accordion 
          .accordion
            %h4 Teeth Whitening
            %span.icon-plus.icon
          .accordion-text 
            %p Whitening procedures have effectively restored the smile of people with stained, dull, or discolored teeth.The darker tissue of your teeth, the dentin, can become exposed as the outer layer of enamel is worn away by the effects of aging or things like caffeine and tobacco.
        %li.services-accordion 
          .accordion
            %h4 Bonding
            %span.icon-plus.icon
          .accordion-text
            %p Bonding is a process in which an enamel-like material is applied to a tooth`s surface, sculpted to an ideal shape, hardened, and then polished for an ideal smile. This procedure usually can be accomplished in a single visit. 
            %p Bonding is often performed in order to fill in gaps or change the color of your teeth. It typically only entails one office visit, and the results last for several years.
        %li.services-accordion
          .accordion
            %h4 Crowns &amp; Bridges
            %span.icon-plus.icon
          .accordion-text
            %p Crowns are synthetic caps, usually made of a material like porcelain, placed on the top of a tooth. Crowns are typically used to restore a tooth's function and appearance following a restorative procedure such as a root canal. When decay in a tooth has become so advanced that large portions of the tooth must be removed, crowns are often used to restore the tooth.
        %li.services-accordion
          .accordion
            %h4 Dentures
            %span.icon-plus.icon
          .accordion-text
            %p Complete dentures replace all the teeth, while a partial denture fills in the spaces created by missing teeth and prevents other teeth from changing position.
            %p Candidates for complete dentures have lost most or all of their teeth. A partial denture is suitable for those who have some natural teeth remaining. A denture improves chewing ability and speech, and provides support for facial muscles. It will greatly enhance the facial appearance and smile.
        %li.services-accordion
          .accordion
            %h4 Implants
            %span.icon-plus.icon
          .accordion-text
            %p Implants are synthetic structures that are placed in the area of the tooth normally occupied by the root. Implants are anchored to the jawbone or metal framework on the bone and act as a foundation for an artificial tooth or permanent bridge. In some cases, implants can be used to attach dentures.
        %li.services-accordion
          .accordion
            %h4 Extractions
            %span.icon-plus.icon
          .accordion-text
            %p When restoration procedures such as root canal therapy, crowns, or fillings are not enough to save a tooth, it may need to be pulled, or extracted.
            %p Tooth extraction procedures today are far less painful than ever before, thanks to powerful anesthetics and sedatives. In many cases, a patient who has tooth pulled experiences little or no discomfort, and only minor bleeding.
            %p Wisdom teeth are the third and final set of molars that erupt in the back corners of the upper and lower normal adult mouth. Unfortunately, most people experience problems from wisdom teeth; in most cases, this is because the teeth erupt too close to existing permanent teeth, causing crowding, improper bites, and other problems.  Many people need to have their wisdom teeth extracted to avoid future serious problems.
        %li.services-accordion
          .accordion
            %h4 Sealants
            %span.icon-plus.icon
          .accordion-text
            %p The pits and grooves of your teeth are prime areas for opportunistic decay. Even regular brushing sometimes misses some of these intricate structures on the chewing surfaces of your teeth.
            %p Enter sealants, which are thin coatings applied to the chewing surfaces designed to prevent the intrusion of bacteria and other debris into the deep crevices on the tops of your teeth.
        %li.services-accordion
          .accordion
            %h4 Veneers
            %span.icon-plus.icon
          .accordion-text
            %p Veneers are thin pieces of porcelain or plastic cemented over the front of your teeth to change their color or shape. Veneers are used on teeth with uneven surfaces or which are chipped, discolored, oddly shaped, unevenly spaced, or crooked.
        %li.services-accordion
          .accordion
            %h4 Scaling &amp; Root Planing
            %span.icon-plus.icon
          .accordion-text
            %p Some cases of acute periodontal (gum) disease that do not respond to more conventional treatment and self-care such as flossing may require a special kind of cleaning called scaling and root planing.
            %p The procedure begins with administration of a local anesthetic to reduce any discomfort. Then, a small instrument called a "scaler," or an ultrasonic cleaner, is used to clean beneath your gum line to remove plaque and tartar.
            %p The root surfaces on the tooth are then planed and smoothed. If effective, scaling and root planing helps the gums reattach themselves to the tooth structure.  Additional measures may be needed if the periodontal pockets persist after scaling and root planing.
        %li.services-accordion
          .accordion
            %h4 Root Canal Therapy
            %span.icon-plus.icon
          .accordion-text
            %p Root canals are tiny passageways that branch off from beneath the top of the tooth, coursing their way vertically downward, until they reach the tip of the root.
            %p Root canal therapy usually entails one to three visits. During the first visit, a small hole is drilled through the top of the tooth and into the inner chamber. Diseased tissue is removed, the inner chamber cleansed and disinfected, and the tiny canals reshaped. The cleansed chamber and canals are filled with an elastic material and medication designed to prevent infection. If necessary, the drilled hole is temporarily filled until a permanent seal is made with a crown.
            %p Most patients who have root canal experience little or no discomfort or pain, and enjoy a restored tooth that can last almost as long as its healthy original.