---
title: Contact Smart Dental
---
.secondary-header
  %h1.secondary-title-large
    Contact Us

.constrained
  %h2.page-title Who we are
  %p  Located in Malden, MA, Smart Dental is a multi-specialty dental center where you can receive the best quality dental care which utilizes the latest methods in dentistry. At Smart Dental, our physicians will listen to your concerns to understand and respond with the best treatment options for you. The staff at Smart Dental will also work to ensure you have the best dental experience possible, and will do the utmost to ensure that any problems are resolved, and your health improves.

  .contact-info
    .contact-info-section.phone
      %h4.page-title PHONE
      %ul
        %li P: 781-322-4914
        %li If Main Line Busy:
        %li P: 781-605-3707
        %li F: 781-605-3797

    .contact-info-section.address
      %h4.page-title ADDRESS
      %ul
        %li Smart Dental
        %li 452 Pleasant Street
        %li Malden, MA 02148

    .contact-info-section.social
      %h4.page-title SOCIAL
      %ul
        %li Facebook
        %li Linked-in
  %br/

  %h2.page-title Book an Appointment with us here, too:

  %button.button Email Us

  %br/


  :plain

    <iframe class = "lee-map" width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=452%20Pleasant%20street%20Malden%2C%20MA%2002148&key=AIzaSyBxW5kSI3Wgxq8x8O7TeCxERk4OwiO3Y1A" allowfullscreen></iframe>
  