---
title: Contact Smart Dental
---
.secondary-header
  %h1.secondary-title-large
    Contact Us

.smaller-constrained

  .contact-info
    .contact-info-section.phone
      %h3.page-title PHONE
      %ul
        %li P: 781-322-4914
        %li If Main Line Busy:
        %li P: 781-605-3707
        %li F: 781-605-3797

    .contact-info-section.address
      %h3.page-title ADDRESS
      %ul
        %li Smart Dental
        %li 452 Pleasant Street
        %li Malden, MA 02148

    .contact-info-section.social
      %h3.page-title SOCIAL
      %ul
        %li Facebook
        %li Linked-in
        %li 
          %button.button Email Us

  %br/
  %br/

  :plain

    <iframe class = "lee-map" width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=452%20Pleasant%20street%20Malden%2C%20MA%2002148&key=AIzaSyBxW5kSI3Wgxq8x8O7TeCxERk4OwiO3Y1A" allowfullscreen></iframe>
  