---
title: Welcome to Smart Dental
---
.constrained
  %h2.page-title Who we are
  %p  Located in Malden, MA, Smart Dental is a multi-specialty dental center where you can receive the best quality dental care which utilizes the latest methods in dentistry. At Smart Dental, our physicians will listen to your concerns to understand and respond with the best treatment options for you. The staff at Smart Dental will also work to ensure you have the best dental experience possible, and will do the utmost to ensure that any problems are resolved, and your health improves.

  %h2.page-title
    Make an Appointment Today:
  %br/
  %button.schedule-action Schedule

.color-block
  .feature-grid
    .feature-divider
      .feature-item
        %span.icon-tool.icon
        %p Comprehensive Services
    .feature-divider
      .feature-item
        %span.icon-tooth.icon
        %p Quality Care
    .feature-divider.last
      .feature-item
        %span.icon-toothbrush.icon
        %p Talented & Professional Staff
        
.constrained
  %h2.page-title Comprehensive Services
  %p Smart Dental is equipped to handle all of your dental needs.  We provide many different services, including: dental implant surgery and restorations, treatment of periodontal disease , cosmetic gum surgery, dentures, crowns, veneers, whitening, and orthodontics.  Please visit our <a href = "#"> Services</a> to learn more. 

  %h2.page-title Quality Care
  %p At Smart Dental, you can have the highest quality care in a comfortable and convenient setting. Our kind, empathetic, and professional staff work hard to ensure that your experience at Smart Dental is an enjoyable one.  Also, we believe that patients who are informed about dental problems and treatments make better decisions about their health and well being. For this reason, we've included an extensive section on this web site covering the full array of topics associated with dentistry and dental diagnoses and treatments. We encourage you to look through these pages whenever you have an interest or concern about your dental needs and care.  Additionally, never hesistate to give us a call or email us!  

  %h2.page-title Talented & Professional Staff
  %p At Smart Dental, we believe that a doctor and patient should act as a team to treat an individual's dental needs. In order to do this, all of our physicians maintain the highest level of accreditation and pursue ongoing education to stay abreast of the latest trends in dentistry.  To learn more about our staff, please visit the <a href= "#"> Staff Profiles </a> page.
