---
title: New Patient Page
---
.secondary-header
  %h1.secondary-title-large
    New Patient Information

.constrained
  %h2.page-title Ways to Make an Appointment:
  %ol
    %li Use our online appointment form to schedule <a href="/appointments"> here</a>.
    %li Give us a call at 781-322-4914, or 781-605-3707 if the first line is busy! We'll be happy to answer any questions you have.
    %li Email us at info@smartdentalma.com and we'll promptly get back to you.

.color-block
  .constrained
    %h2.page-title Patient Forms
    %ul
      %li 
        %a{:href => "#"} Welcome Letter
      %li
        %a{:href => "#"} Acknowledgement of HIPPA
      %li
        %a{:href => "#"} Infection Control
      %li
        %a{:href => "#"} Medical History
      %li
        %a{:href => "#"} Notice of Privacy
      %li
        %a{:href => "#"} Office Policy
      %li
        %a{:href => "#"} Patient Privacy
    
    %h2.page-title Insurance Options
    %p We accept cash, checks or credit cards (Visa, MasterCard, Discover, and American Express).

    %ul
      %li Aetna = PPO, Access
      %li Blue Cross Blue Shield = PPO, Traditional "PAR Network", Federal Employee
      %li Delta Dental = Premier, PPO
      %li Humana = PPO, Discount Dental, Medicare
      %li Met Life = PPO, Medicare
      %li Cigna = PPO
      %li MassHealth

    %p For our patients who do not have dental insurance coverage we offer an in-office dental plan called "Smart Dental Plan 2015-2016". This will allow you to have routine exam, cleaning, individual x-rays "PA's" and bitewing x-rays twice a year free of charge. Please see our Office Manager for more information.
    %p Plan acceptance is subject to change at any time. Please call your insurance company to verify and follow up with the office prior to your scheduled appointment. 

.constrained
  %h4.page-title Being well-prepared for your appointment will ensure that the doctor has all of the needed information to provide the best possible care for you. Also, please take some time to review our staff page and familiarize yourself with the doctors. We look forward to your visit.
